.container {
	margin: 50px auto;
	padding: 30px;
	width: 500px;
	background-color: #f2f2f2;
	border-radius: 10px;
	text-align: center;
}
.hr{
    background-color:darkblue;
    height: 20px;
}

h2{
    font-weight: bold;
    text-align: center;
}
h1 {
	font-size: 36px;
	margin-bottom: 30px;
}

label {
	font-size: 24px;
	display: block;
	margin-bottom: 10px;
}


input[type="submit"] {
	font-size: 24px;
	padding: 10px 20px;
	background-color: #2f1785;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
position: relative;
left: 530px;

}

input[type="submit"]:hover {
	background-color: #3b14c8;
    
    
}
